version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '12:00'
    reviewers:
      - nycodeghg
    assignees:
      - nycodeghg
  - package-ecosystem: gradle
    directory: '/'
    schedule:
      interval: daily
      time: '12:00'
    reviewers:
      - nycodeghg
    assignees:
      - nycodeghg
