name: Gradle CI
on: push

jobs:

  build:
    name: Gradle Wrapper
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 16

      - uses: gradle/gradle-build-action@v1
        with:
          arguments: build
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          REPO_OWNER: ${{ secrets.REPO_OWNER }}
          REPO_NAME: ${{ secrets.REPO_NAME }}

      - uses: gradle/gradle-build-action@v1
        if: github.ref == 'refs/heads/dev'
        with:
          arguments: publish -PossrhUsername=${{ secrets.SONATYPE_USERNAME }} -PossrhPassword=${{ secrets.SONATYPE_PASSWORD }} -PsigningKey=${{ secrets.SIGNING_KEY }} -PsigningPassword=${{ secrets.SIGNING_PASSWORD }}
